/* Mobile até 768px */
@media (max-width: 768px) {
    header {
        padding: 1rem 1.5rem;
    }
    header .logo {
        display: none;
    }
    .btn {
        margin-top: 20px;
    }
    .checkbtn{
        display: block;
    }
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        position: fixed;
        width: 100%;
        height: 100vh;
        background: #5a978d;
        top: 80px;
        left: -100%;
        right: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li{
        display: block;
        margin: 34px 0;
        line-height: 30px;
        margin-left: -50px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .home {
        flex-direction: column;
        text-align: center;
        padding: 0 1rem;
    }
    .home-img img {
        width: 180px;
        height: 180px;
        object-fit: cover;   
        border-radius: 50%;  /* deixa redonda */
        margin: 2 auto 1rem auto;
    }
    .home-content h1 {
        font-size: 2rem;
    }
    .home-content h3, p, .social-icons{
        display: none;
    }
}


@media(min-width: 1024px){
    body{
        width: 100%;
        min-height: 100vh;
    }
    section{
        min-height: 100vh;
        padding: 5rem 9%;
    }
    
    .home-img img{
        width: 20vw;
    }
}

/*@media (max-width: 995px){
    header{
        border-bottom: none;
    }

    header .logo{
        font-size:0;
    }

    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home-content{
        text-align: center;
        margin-bottom: 5rem;
    }

    .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        height: 70vw;
    }

    .social-download-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .typing-text, .quote, .social-icons{
        display: none;
    }
    .btn{
        margin-top: 20px;
    }
    .checkbtn{
        display: block;
    }
    ul{
        display: flex;
        align-items: center;
        flex-direction: column;

        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li{
        display: block;
        margin: 34px 0;
        line-height: 30px;
        margin-left: -50px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}*/